<a href="https://colab.research.google.com/github/Tislam19/Projects/blob/main/Copy_of_Sum_group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd

# Sample sales data with 30 observations
data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B', 'C', 'A',
                'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B',
                'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'Year': [2021, 2022, 2021, 2022, 2021, 2023, 2022, 2023, 2022, 2021,
             2022, 2021, 2022, 2023, 2022, 2023, 2021, 2022, 2021, 2022,
             2021, 2023, 2021, 2022, 2021, 2022, 2021, 2022, 2021, 2022],
    'Location': ['NJ', 'NY', 'NJ', 'NY', 'NY', 'NJ', 'NJ', 'NY', 'NJ', 'NJ',
                'NY', 'NJ', 'NY', 'NJ', 'NY', 'NJ', 'NY', 'NJ', 'NY', 'NJ',
                'NY', 'NJ', 'NY', 'NJ', 'NY', 'NJ', 'NY', 'NJ', 'NY', 'NJ'],
    'Sales': [100, 150, 200, 50, 75, 60, 120, 80, 55, 130,
              140, 170, 90, 110, 45, 130, 160, 180, 40, 70,
              120, 95, 65, 120, 155, 75, 90, 140, 120, 110]
}

# Create a DataFrame
df = pd.DataFrame(data)

## what is your code to generate desired output.
# Q1: sum the sales for sub-group
# Q2: rename the column or the pandas series table.



# Group the data by Product and Year columns and calculate the sum of Sales within each group
grouped_data = df.groupby(['Product','Location', 'Year'])['Sales'].sum()

# Print the grouped data
print(grouped_data)

# Create a new DataFrame
result = pd.DataFrame(grouped_data)

# Rename the 'Sales' column to 'sum within group'
result.rename(columns={'Sales': 'sum within group'}, inplace=True)

# Print the updated DataFrame
print(result)

Product  Location  Year
A        NJ        2021    430
                   2022    260
                   2023    225
         NY        2021    195
                   2022     90
B        NJ        2022    145
                   2023    110
         NY        2021    420
                   2022    290
                   2023     80
C        NJ        2021    170
                   2022    465
                   2023     60
         NY        2021    210
                   2022     95
Name: Sales, dtype: int64
                       sum within group
Product Location Year
A       NJ       2021               430
                 2022               260
                 2023               225
        NY       2021               195
                 2022                90
B       NJ       2022               145
                 2023               110
        NY       2021               420
                 2022               290
                 2023                80
C       NJ       2021               170
                 2022               465
                 2023                60
        NY       2021               210
                 2022                95